@import url("bootstrap.css");

header {
    padding-top: 30px;
}
header nav {
    margin-top:30px;
}
h1, h2, h3, h4 {
    margin-bottom:30px;
}
main nav {
    margin-bottom:30px;
}
footer {
    border-top:1px solid black;
    margin-top:50px;
    margin-bottom:50px;
}
footer p {
    margin: 20px 0;
}

.scrollable {
    width: 100%; 
}

.scrollable thead, .scrollable tbody, .scrollable tr, .scrollable td, .scrollable th {
    display: block;
}

.scrollable tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.scrollable thead th {
    height: 40px;
}

.scrollable tbody {
    max-height: 200px;
    overflow-y: auto;
}

.scrollable thead {
    
}

.scrollable tbody td, .scrollable thead th, .scrollable tfoot td {
    width: 33%;
    float: left;
}

#addhours{
    float:left;
    margin-right:20px;
}

.pagination {
    display: block;
}
.hours {
    float: right;
}
.name {
    float: left;
}
.project {
    border-bottom: 2px solid grey;
    margin-bottom:30px;
}

.navbar-right{
    margin-right: 5%;
}

span.twitter-typeahead{
    width: 100%;
}

#master-search {
    width: 140%;
}

.nav-search {
    padding-top: 7px;
    position: relative;
    float: right;
}

.tt-dropdown-menu {
    margin-top: 6px;
    padding: 2px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    width: 100%;
}

.tt-suggestion {
  padding: 3px 20px;
}


.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: rgba(0, 86, 150, 1);
  cursor: pointer;
  border-radius: 8px;

}

.tt-suggestion p {
  margin: 0;
}

.tt-dropdown-menu p.error{
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  color: red;
}

.tt-dropdown-menu h4{
  margin: 0 20px 5px 20px;
  padding: 3px 0;
  border-bottom: 1px solid #ccc;
}
.hint {
    color: green;
    font-weight: bold;
    position:relative;
}
.hint:hover {
    text-decoration: underline;
    cursor: default;
}
.hiddenHint {
    color: black;
    font-weight: normal;
    display: none;
    position: absolute;
    margin-top: 6px;
    padding: 2px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    width: 250px;
    z-index: 1000;
}

#spacing{
    margin-bottom: 10px;
    padding-left:0px;
}

#revSpace{
    padding-left:0px;
}

#spacingSecond{
    padding-left:15px;
   
}
.inputError {
    color: red;
}

.buttons{
    margin-bottom: 30px;
}

.required{
    color: red;
    float: left;
}
 
.form-control {
    width: 96%;
    float:right;
}

.nav-search .form-control.typeahead {
    width: 100%;
    float: none;
}